.confetti{
    max-width: 640px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    user-select: none;
}

.hide{
    display: none;
}

.alert{
    color: darkred;
}
.warning{
    color: orangered;
}
.success{
    color: darkgreen;
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

#container-table-of-try-numbers{
    border: 1px solid black;
    box-sizing: border-box;
}