.confetti{
    max-width: 640px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    user-select: none;
}

.hide{
    display: none;
}

button {
    
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1px;
}

#valid-number{
    background-color: #4CAF50; 
}

#replay {
    background-color: #008CBA;;
}

#reset {
    background-color: rgb(226, 55, 55);
}

#show-players{
    background-color: lightgreen;
}